<div class="p-2 min-w-[480px]" #dialogRef>
    <div mat-dialog-title> 
        <h1 class="text-2xl font-bold">
            Ajouter / Modifier un rôle
        </h1>
        <p class="text-sm text-gray-600">
        </p>
    </div>

    <mat-divider></mat-divider>

    <mat-dialog-content>
        <div class="min-h-[200px] flex flex-col justify-center items-center space-y-2">
            <p class="text-lg font-semibold">
            </p>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="flex justify-end space-x-2">
        <button mat-button
            class="mat-button-large mt-6"
            mat-flat-button
            [color]="'primary'"
            (click)="close()"
        >
            Fermer
        </button>
        <button mat-button
            class="mat-button-large mt-6"
            mat-flat-button
            [color]="'primary'"
        >
            Confirmer
        </button>
    </mat-dialog-actions>
</div>