<div class="w-full pb-10" *transloco="let t">

  <form [formGroup]="formGroup" class="w-full max-w-[500px] bg-card p-4 rounded-xl mx-auto">
    <div class="flex flex-col mb-6 text-center text-primary">
			<h1 class="text-2xl font-bold">{{ t('entities.endorsment.table.title') }}</h1>
			<p class="text-sm text-gray-600">{{ t('entities.endorsment.form.subtitle') }}</p>
		</div>

    <div class="flex flex-col gap-8">
      
      <!-- Designation -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.endorsment.fields.name') }}</mat-label>
        <input matInput type="text" formControlName="name"/>
      </mat-form-field>

      <!-- Act Type -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.endorsment.fields.nature') }}</mat-label>
        <mat-select formControlName="nature">
          <mat-option *ngFor="let nature of natures" [value]="nature.value">{{ t(nature.label) }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Submit -->
      <div class="flex items-center justify-end gap-4 mt-6">
        <div>{{ t(message) }}</div>
        <button mat-flat-button color="primary" [disabled]="formGroup.invalid" (click)="onSubmit()">
          {{ t('form.actions.save') }}
        </button>
      </div>
    </div>
  </form>
</div>