<div class="space-y-2 p-2 min-w-[480px]" #dialogRef *transloco="let t;">
    <h2 mat-dialog-title>{{ t('entities.commission-point-of-sale.form.editTitle') || 'Modifier la couverture' }}</h2>
    <mat-divider></mat-divider>

    <mat-dialog-content class="py-4">
        <form [formGroup]="formGroup" class="space-y-4">

            <div class="flex flex-col gap-6">

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.commission-point-of-sale.form.product') }}</mat-label>
                    <mat-select formControlName="product" required>
                        <mat-option *ngFor="let product of products" [value]="product.id">
                            {{ product.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('product')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.commission-point-of-sale.form.coverage') }}</mat-label>
                    <mat-select formControlName="coverage" required>
                        <mat-option *ngFor="let coverage of coverages" [value]="coverage.id">
                            {{ coverage.reference.designation }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('coverage')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.commission-point-of-sale.form.typePointOfSale') }}</mat-label>
                    <mat-select formControlName="typePointOfSale" required>
                        <mat-option *ngFor="let type of typesPointOfSale" [value]="type.value">
                            {{ type.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('type')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.commission-point-of-sale.form.pointOfSale') }}</mat-label>
                    <mat-select formControlName="pointOfSale" required>
                        <mat-option *ngFor="let pointOfSale of pointsOfSale" [value]="pointOfSale.id">
                            {{ pointOfSale.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('type')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.commission-point-of-sale.form.dateEffective') }}</mat-label>
                    <input matInput type="date" formControlName="dateEffective" required>
                    <mat-error *ngIf="formGroup.get('dateEffective')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.commission-point-of-sale.form.managementRate') }}</mat-label>
                    <input matInput type="number" formControlName="managementRate" required>
                    <mat-error *ngIf="formGroup.get('managementRate')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                    <mat-error *ngIf="formGroup.get('managementRate')?.hasError('min')">
                        {{ t('form.errors.min', { value: 0 }) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.commission-point-of-sale.form.contributionRate') }}</mat-label>
                    <input matInput type="number" formControlName="contributionRate" required>
                    <mat-error *ngIf="formGroup.get('contributionRate')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                    <mat-error *ngIf="formGroup.get('contributionRate')?.hasError('min')">
                        {{ t('form.errors.min', { value: 0 }) }}
                    </mat-error>
                </mat-form-field>

            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="flex justify-end space-x-2 pt-4">
        <button mat-button mat-flat-button color="basic" (click)="onCancel()">
            {{ t('form.actions.cancel') }}
        </button>
        <button mat-button mat-flat-button color="primary" [disabled]="formGroup.invalid || formGroup.disabled"
            (click)="onSubmit()">
            {{ t('form.actions.save') }}
        </button>
    </mat-dialog-actions>
</div>