<div class="w-full p-4 flex flex-col gap-4" *transloco="let t;" tabindex="0">
  <!-- --------------------------------------------- -->
  <!-- En-tête de la page                            -->
  <!-- --------------------------------------------- -->
  <div class="flex justify-between items-end">
    <div class="flex flex-col">
      <h1 class="text-2xl md:text-4xl font-bold py-4">
        {{ t('entities.commission-accessory-point-of-sale.table.title') }}
      </h1>
      <p class="text-sm md:text-base text-gray-600">
        {{ t('entities.commission-accessory-point-of-sale.table.description') }}
      </p>
    </div>

    <div class="flex items-center gap-2 bg-card p-2 px-4 rounded-lg border border-accent-300">
      <span>{{ selectedProduct.name || t('product-selection.title') }}</span>
      <button mat-button class="ml-4 bg-primary-500 text-white rounded-lg" (click)="openSelection()">
        {{ t('product-selection.change') }}
      </button>
    </div>
  </div>

  <!-- --------------------------------------------- -->
  <!-- Barre de recherche                            -->
  <!-- --------------------------------------------- -->
  <div class="flex flex-col md:flex-row items-center gap-4 justify-between mt-6">
    <div class="flex items-center gap-2 bg-card p-2 px-4 rounded-lg border border-accent-300 h-full">
      <mat-icon [svgIcon]="'fluent:search'"></mat-icon>
      <input class="form-input" type="text" [placeholder]="t('form.fields.search')" [formControl]="searchCtrl">
    </div>

    <div class="flex items-center gap-2">
      <button mat-raised-button color="primary" class="text-white" (click)="onAdd()">
        {{ t('form.actions.add') }}
      </button>
    </div>
      
  </div>

  <!-- --------------------------------------------- -->
  <!-- Tableau                                       -->
  <!-- --------------------------------------------- -->
  <div class="overflow-auto">
    <table mat-table [dataSource]="dataSource" matSort class="w-full rounded-md bg-card">

      @let columns = tableOptions.columns;

      <!-- ============= Colonnes dynamiques ============= -->
      <ng-container *ngFor="let column of columns; trackBy: trackByProperty" [ngSwitch]="column.type">

        <!-- ----------- COLONNES COLLAPSE --------------- -->
        <ng-container *ngSwitchCase="'collapse'">
          <!-- Cellule parente (ligne 1) -->
          <ng-container [matColumnDef]="column.property + '-parent'">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="column.collapseOptions?.length"
              class="uppercase text-center">
              {{ t(column.label) }}
            </th>
          </ng-container>

          <!-- Sous-colonnes (ligne 2 + données) -->
          <ng-container *ngFor="let child of column.collapseOptions" [matColumnDef]="child.property">
            <!-- En-tête ligne 2 -->
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase">
              {{ t(child.label) }}
            </th>
            <!-- Cellule de données -->
            <td mat-cell *matCellDef="let row">
              {{ tableOptions.renderItem(row, child.property) }}
            </td>
          </ng-container>
        </ng-container>

        <!-- ----------- COLONNES TEXTE ------------------- -->
        <ng-container *ngSwitchCase="'text'" [matColumnDef]="column.property">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" mat-sort-header class="uppercase">
            {{ t(column.label) }}
          </th>
          <td mat-cell *matCellDef="let row" [ngClass]="column.cssClasses">
            {{ tableOptions.renderItem(row, column.property) }}
          </td>
        </ng-container>

        <!-- ----------- COLONNES INPUT ------------------- -->
        <ng-container *ngSwitchCase="'input'" [matColumnDef]="column.property">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" mat-sort-header class="uppercase">
            {{ t(column.label) }}
          </th>
          <td mat-cell *matCellDef="let row" [ngClass]="column.cssClasses">
            <input type="text" class="border p-2 rounded w-28" [value]="row[column.property]">
          </td>
        </ng-container>

        <!-- ----------- COLONNES SELECT ------------------ -->
        <ng-container *ngSwitchCase="'select'" [matColumnDef]="column.property">
          <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" mat-sort-header class="uppercase">
            {{ t(column.label) }}
          </th>
          <td mat-cell *matCellDef="let row" [ngClass]="column.cssClasses">
            <mat-select class="w-full border p-1 min-w-28" [value]="row[column.property]">
              <mat-option *ngFor="let opt of column.options" [value]="opt.value">
                {{ t(opt.label) }}
              </mat-option>
            </mat-select>
          </td>
        </ng-container>
      </ng-container>

      <!-- ============= COLONNE ACTIONS ================= -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="uppercase text-center border-l">
          {{ 'Actions' }}
        </th>
        <td mat-cell *matCellDef="let element" class="border-l min-w-32">
          <div class="w-full h-full flex items-center justify-around">
            <button mat-icon-button color="primary" (click)="onEdit(element)"
              matTooltip="{{ t('entities.commission-accessory-point-of-sale_duration.actions.edit') }}">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(element)"
              matTooltip="{{ t('entities.commission-accessory-point-of-sale_duration.actions.delete') }}">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- ============= LIGNES D’EN-TÊTE ================ -->
      <tr mat-header-row *matHeaderRowDef="groupHeader"></tr>
      <tr mat-header-row *matHeaderRowDef="subHeader"></tr>

      <!-- ============= LIGNES DE DONNÉES =============== -->
      <tr mat-row *matRowDef="let row; columns: visibleColumns;" @fadeInBottom class="trans-ease-out cursor-pointer">
      </tr>

      <!-- ============= Aucune donnée =================== -->
      @let count = visibleColumns.length;
      <tr *matNoDataRow>
        <td [attr.colspan]="count" class="text-center py-4">
          {{ t('entities.commission-accessory-point-of-sale.table.empty_state') }}
        </td>
      </tr>
    </table>
  </div>

  <!-- --------------------------------------------- -->
  <!-- Paginator                                     -->
  <!-- --------------------------------------------- -->
  @let pageSizeOptions = tableOptions.pageSizeOptions;
  @let pageSize = tableOptions.pageSize;
  <mat-paginator class="rounded-b-md border-t" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize">
  </mat-paginator>
</div>