<div class="space-y-2 p-2 min-w-[480px]" #dialogRef *transloco="let t;">
    <h2 mat-dialog-title>{{ t('entities.contributor-type.form.editTitle') || 'Modifier le contributeur' }}</h2>

    <mat-divider></mat-divider>

    <mat-dialog-content class="py-4">
        <form [formGroup]="formGroup" class="space-y-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ t('entities.contributor-type.fields.label') }}</mat-label>
                <input matInput formControlName="label" />
                <mat-error *ngIf="formGroup.get('label')?.hasError('required')">
                    {{ t('form.errors.required') }}
                </mat-error>
            </mat-form-field>

        </form>

        <div *ngIf="message" class="text-sm text-primary pt-2">
            {{ t(message) }}
        </div>
    </mat-dialog-content>

    <mat-dialog-actions class="flex justify-end space-x-2 pt-4">
        <button mat-button mat-flat-button color="basic" (click)="onCancel()">
            {{ t('form.actions.cancel') }}
        </button>
        <button mat-button mat-flat-button color="primary" [disabled]="formGroup.invalid || formGroup.disabled"
            (click)="onSubmit()">
            {{ t('form.actions.save') }}
        </button>
    </mat-dialog-actions>
</div>