<div class="w-full flex flex-col">
    <!-- Header -->
    <div class="w-full bg-primary p-4 sm:p-6 sm:rounded-xl rounded-md flex items-center sm:gap-6 gap-2">
        <!-- Logo -->
        <div class="size-32 md:size-36 bg-white rounded-md flex items-center justify-center">
            <img [src]="entity.logo || 'assets/images/logo/logo.svg'" class="w-full object-cover">
        </div>

        <!-- Entity Information -->
        <div class="flex flex-col gap-2 flex-1">
            <h1 class="text-white text-2xl font-bold">
                Nom: {{ entity.name }}
            </h1>
            <p class="text-white text-md">
                email: {{ entity.email }}
            </p>
            <p class="text-white text-md">
                Telephone: {{ entity.phone }}
            </p>
            <p class="text-white text-md">
                Adresse: {{ entity.address }}
            </p>
        </div>
        <div class="flex flex-col h-full items-center gap-2">
            <button 
                (click)="openChangeLogoDialog()"
                class="bg-white text-primary px-4 py-2 rounded-md hover:bg-gray-200 transition-colors"
            >
                Modifier
            </button>
        </div>
    </div>

    <!-- Restriction -->

    <div>
        @for (restriction of restrictions; track $index) {
            <div class="flex items-center gap-2 bg-card p-2 px-4 rounded-lg border border-accent-300 mt-4">
                {{ restriction.entity.name }} | {{ restriction.type }}
            </div>
        }

    </div>



    <!-- Module Selector Modal (To be implemented) -->
    <!-- <div *ngIf="isModuleSelectorOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white p-6 rounded-lg max-w-md w-full">
            <h2 class="text-xl font-bold mb-4">Sélectionner un Module</h2>
            <div class="grid grid-cols-2 gap-4">
                <button 
                    *ngFor="let module of availableModules" 
                    (click)="selectModule(module)"
                    class="bg-primary text-white py-2 rounded-md hover:bg-primary-dark transition-colors"
                >
                    {{ module.name }}
                </button>
            </div>
            <button 
                (click)="closeModuleSelector()" 
                class="mt-4 w-full bg-gray-200 py-2 rounded-md hover:bg-gray-300 transition-colors"
            >
                Annuler
            </button>
        </div>
    </div> -->
</div>