<div class="w-full flex flex-col" *transloco="let t">
    <!-- Header -->
    <div class="w-full bg-primary p-4 sm:p-6 sm:rounded-xl rounded-md flex items-center sm:gap-6 gap-2">
        <!-- Logo -->
        <div class="size-32 md:size-36 bg-white rounded-md flex items-center justify-center">
            <img [src]="entity.logo || 'assets/images/logo/logo.svg'" class="w-full max-w-32 object-cover">
        </div>

        <!-- Entity Information -->
        <div class="flex flex-col gap-2 flex-1">
            <h1 class="text-white text-2xl font-bold">
                Nom: {{ entity.name }}
            </h1>
            <p class="text-white text-md">
                email: {{ entity.email }}
            </p>
            <p class="text-white text-md">
                Telephone: {{ entity.phone }}
            </p>
            <p class="text-white text-md">
                Adresse: {{ entity.address }}
            </p>
        </div>
        <div class="flex flex-col h-full items-center gap-2">
            
        </div>
    </div>

    <div class=" text-center w-full p-4 sm:p-6 sm:rounded-xl rounded-md items-center sm:gap-6 gap-2 mt-4">
        <h2 class="text-2xl font-bold text-primary">
            {{t(module.title)}}
        </h2>
        <p class="text-md text-gray-600 mt-2">
            {{t(module.description || "")}}
        </p>
    </div>

    <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
        <!-- Features List -->
        @for (item of module.features; track $index) {
            <div class="bg-white p-4 sm:p-6 sm:rounded-xl rounded-md flex flex-col gap-2">
                <h3 class="text-lg font-bold">{{t(item.title)}}</h3>
                <p>{{t(item.description || "")}}</p>
                <a [routerLink]="item.route" class="text-blue-500 hover:underline mt-2">{{t('dashboard.seeMore')}}</a>
            </div>
        }
    </div>
    
</div>