<!-- Sign in form -->
<form
    class="mt-8 space-y-6"
    #form
    [formGroup]="formGroup"
    *transloco="let t">
    
    <div class="flex flex-col gap-6">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>
                {{ t('entities.profile.fields.name') }}
            </mat-label>
            <input
                matInput
                [formControlName]="'name'">
            <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
                {{ t('form.errors.required') }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline" [ngClass]="entity.type != 'COMPANY' ? 'hidden' : ''">
            <mat-label>
                {{ t('entities.profile.fields.level') }}
            </mat-label>
            <mat-select [formControlName]="'level'">
                <mat-option *ngFor="let level of levels" [value]="level">
                    {{ t("entities.profile.options.level."+level) }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('level')?.hasError('required')">
                {{ t('form.errors.required') }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>
                {{ t('entities.profile.fields.description') }}
            </mat-label>
            <input
                matInput
                [formControlName]="'description'">
            <mat-error *ngIf="formGroup.get('description')?.hasError('required')">
                {{ t('form.errors.required') }}
            </mat-error>
        </mat-form-field>
    </div>

    
    <!-- Submit button -->
    <button mat-button matStepperNext
        class="mat-button-large  mt-6"
        mat-flat-button
        [color]="'primary'"
        [disabled]="formGroup.invalid"
        (click)="onNext()"
        >
        {{ t('form.actions.next') }}
    </button>
</form>