<div class="w-full pb-10" *transloco="let t">
  <div class="flex flex-col mb-10">
    <h1 class="text-2xl md:text-4xl font-bold py-4">
      {{ t('entities.commission_contributor.form.title') }}
    </h1>
    <p class="text-sm text-gray-600">
      {{ t('entities.commission_contributor.form.subtitle') }}
    </p>
  </div>

  <form [formGroup]="formGroup" class="w-full sm:max-w-3xl bg-card p-4 rounded-xl mx-auto">
    <div class="flex flex-col mb-6 text-center text-primary">
      <h1 class="text-2xl font-bold">
        {{ t('entities.commission_contributor.form.title') }}
      </h1>
      <p class="text-sm text-gray-600">
        {{ t('entities.commission_contributor.form.subtitle') }}
      </p>
    </div>
    <div class="flex flex-col gap-6">

      <!-- Product -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.commission_contributor.fields.product') }}</mat-label>
        <mat-select formControlName="productId">
          <mat-option *ngFor="let product of products" [value]="product.id">{{ product.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- Contributor -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.commission_contributor.fields.contributor') }}</mat-label>
        <mat-select formControlName="contributorId">
          <mat-option *ngFor="let contributor of contributors" [value]="contributor.id">
            {{ contributor.firstname }} {{ contributor.lastname }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <!-- Calculation Base -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ t('entities.commission_contributor.fields.commissionBase') }}</mat-label>
        <mat-select formControlName="commissionBase">
          <mat-option *ngFor="let option of calculationBaseOptions" [value]="option.value">
            {{ t(option.label) }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('commissionBase')?.hasError('required')">
          {{ t('form.errors.required') }}
        </mat-error>
      </mat-form-field>


      <!-- Contributor Rate -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.commission_contributor.fields.contributorRate') }}</mat-label>
        <input matInput type="number" formControlName="contributorRate" />
      </mat-form-field>

      <!-- Upper Entity Contributor Rate -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.commission_contributor.fields.upperEntityContributorRate') }}</mat-label>
        <input matInput type="number" formControlName="upperEntityContributorRate" />
      </mat-form-field>
      
      <!-- Date Effective -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.commission_contributor.fields.dateEffective') }}</mat-label>
        <input matInput formControlName="dateEffective" type="date" />
      </mat-form-field>


      <!-- Submit -->
      <div class="flex items-center justify-end gap-4 mt-6">
        <div>{{ t(message) }}</div>
        <button mat-flat-button color="primary" [disabled]="formGroup.invalid" (click)="onSubmit()">
          {{ t('form.actions.save') }}
        </button>
      </div>
    </div>
  </form>
</div>
