<form
    class="mt-8 space-y-6"
    #form
    [formGroup]="formGroup"
    *transloco="let t">
    
    <div class="flex flex-col gap-4">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>
                {{ t('entities.user.form.fields.profile.label') }}
            </mat-label>
            <mat-select [multiple]="true" [formControlName]="'profiles'">
                <mat-option *ngFor="let profile of filteredProfiles" [value]="profile">
                    {{ t(profile.name) }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    
    
    <!-- Submit button -->
    <button mat-button matStepperNext
        class="mat-button-large  mt-6"
        mat-flat-button
        [color]="'primary'"
        [disabled]="formGroup.invalid"
        (click)="onNext()"
        >
        {{ t('form.actions.next') }}
    </button>
</form>