<div class="space-y-2 p-2 min-w-[480px]" #dialogRef *transloco="let t;">
    <div>
        <h2 mat-dialog-title>
            @if (mode === 'create') {
                {{ t('entities.commission.form.accessory-create.title') }}
            } @else if (mode === 'edit') {
                {{ t('entities.commission.form.accessory-edit.title') }}
            } @else {
                {{ t('entities.commission.form.accessory-view.title') }}
            }
        </h2>
    </div>
    <mat-divider></mat-divider>

    <mat-dialog-content class="py-4">
        <form [formGroup]="formGroup" class="space-y-4">

            <div class="flex flex-col gap-6">

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.commission.fields.product') }}</mat-label>
                    <mat-select formControlName="productId">
                        <mat-option *ngFor="let product of products" [value]="product.id">
                            {{ product.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('product')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.commission.fields.typePointOfSale') }}</mat-label>
                    <mat-select formControlName="pointOfSaleType">
                        <mat-option *ngFor="let type of typesPointOfSale" [value]="type.value">
                            {{ type.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('pointOfSaleType')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.commission.fields.pointOfSale') }}</mat-label>
                    <mat-select formControlName="pointOfSaleId">
                        <mat-option *ngFor="let pointOfSale of pointsOfSale" [value]="pointOfSale.id">
                            {{ pointOfSale.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('pointOfSaleId')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.commission.fields.dateEffective') }}</mat-label>
                    <input matInput type="date" formControlName="dateEffective">
                    <mat-error *ngIf="formGroup.get('dateEffective')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.commission.fields.managementRate') }}</mat-label>
                    <input matInput type="number" formControlName="managementRate">
                    <mat-error *ngIf="formGroup.get('managementRate')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                    <mat-error *ngIf="formGroup.get('managementRate')?.hasError('min')">
                        {{ t('form.errors.min', { value: 0 }) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.commission.fields.contributionRate') }}</mat-label>
                    <input matInput type="number" formControlName="contributionRate">
                    <mat-error *ngIf="formGroup.get('contributionRate')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                    <mat-error *ngIf="formGroup.get('contributionRate')?.hasError('min')">
                        {{ t('form.errors.min', { value: 0 }) }}
                    </mat-error>
                </mat-form-field>

            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="flex justify-end space-x-2 pt-4">
        <button mat-button mat-flat-button color="basic" (click)="onCancel()">
            {{ t('form.actions.cancel') }}
        </button>
        <button mat-button mat-flat-button color="primary" [disabled]="formGroup.invalid || formGroup.disabled"
            (click)="onSubmit()">
            {{ t('form.actions.save') }}
        </button>
    </mat-dialog-actions>
</div>