<div class="space-y-2 p-2 min-w-[480px]" #dialogRef *transloco="let t;">
    <h2 mat-dialog-title>{{ t('entities.coverage_reference.form.editTitle') || 'Modifier la couverture' }}</h2>
    <mat-divider></mat-divider>

    <mat-dialog-content class="py-4">

                <!-- Table -->
        <table [dataSource]="dataSource" class="w-full rounded-md bg-card" mat-table matSort>
        
            <!-- Checkbox Column -->
            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef mat-header-cell class="uppercase text-center">
                    <mat-checkbox
                        (change)="masterToggle()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                    ></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="text-center">
                    <mat-checkbox
                        (change)="toggleSelection(row)"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="t('coverages.table.select-row')"
                    ></mat-checkbox>
                </td>
            </ng-container>

            <!-- Text Columns -->
            @let columns = tableOptions.columns;
            <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>{{ t(column.label) }}</th>
                    <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                        {{ tableOptions.renderItem(row, column.property) }}
                    </td>
                </ng-container>
            </ng-container>


            <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: visibleColumns;"
                @fadeInBottom
                class="trans-ease-out cursor-pointer"
                mat-row>
            </tr>

            <!-- No Data Row -->
            <tr *matNoDataRow>
                <td [attr.colspan]="visibleColumns.length" class="text-center py-4">
                    {{ t('coverages.table.no-data') }}
                </td>
            </tr>
        </table>

        @let pageSizeOptions = tableOptions.pageSizeOptions;
        @let pageSize = tableOptions.pageSize;
        <mat-paginator class="rounded-b-md border-t" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>

        
    </mat-dialog-content>

    <mat-dialog-actions class="flex justify-end space-x-2 pt-4">
        <button mat-button mat-flat-button color="basic" (click)="onCancel()">
            {{ t('form.actions.cancel') }}
        </button>
        <button mat-button mat-flat-button color="primary" [disabled]="formGroup.invalid || formGroup.disabled"
            (click)="onSubmit()">
            {{ t('form.actions.save') }}
        </button>
    </mat-dialog-actions>


</div>