<div class="w-full" *transloco="let t">
    
        <div class="flex flex-col mb-10">
        <h1 class="text-2xl md:text-4xl font-bold py-4">
            {{ t('entities.contributor.form.subtitle') }}
        </h1>
        <!-- Description -->
        <p class="text-sm md:text-base text-gray-600">
            {{ t('entities.contributor.form.subtitle') }}
        </p>
    </div>

    <form [formGroup]="formGroup" class="w-full sm:max-w-4xl bg-card p-4 rounded-xl mx-auto">
        <div class="flex flex-col mb-6 text-center text-primary">
            <h1 class="text-2xl font-bold">{{ t('entities.contributor.form.title') }}</h1>
            <p class="text-sm text-gray-600">{{ t('entities.contributor.form.subtitle') }}</p>
        </div>

        <div class="space-y-6 mt-4">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>{{ t('entities.contributor.fields.firstname') }}</mat-label>
                <input matInput formControlName="firstname">
                <mat-error *ngIf="formGroup.get('firstname')?.hasError('required')">{{ t('form.errors.required') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="w-full" appearance="outline">
                <mat-label>{{ t('entities.contributor.fields.lastname') }}</mat-label>
                <input matInput formControlName="lastname">
                <mat-error *ngIf="formGroup.get('lastname')?.hasError('required')">{{ t('form.errors.required') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="w-full" appearance="outline">
                <mat-label>{{ t('entities.contributor.fields.email') }}</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="formGroup.get('email')?.hasError('required')">{{ t('form.errors.required') }}</mat-error>
                <mat-error *ngIf="formGroup.get('email')?.hasError('email')">{{ t('form.errors.invalid_email') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="w-full" appearance="outline">
                <mat-label>{{ t('entities.contributor.fields.level') }}</mat-label>
                <mat-select formControlName="level">
                    <mat-option *ngFor="let l of levels" [value]="l.value">{{ t(l.label) }}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Point Of Sale -->
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>{{ t('entities.contributor.fields.pointOfSale') }}</mat-label>
                <mat-select formControlName="pointOfSale">
                    <mat-option *ngFor="let pos of pointsOfSale" [value]="pos.id">
                        {{ pos.name }}
                        <span class="text-xs text-gray-500">
                            ({{t('entities.point_of_sale.options.type.' + pos.typePointOfSale) }})
                        </span>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formGroup.get('pointOfSale')?.hasError('required')">{{ t('form.errors.required') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="flex items-center gap-4 justify-end mt-6">
            <div>{{ t(message) }}</div>
            <button mat-flat-button color="primary" [disabled]="formGroup.invalid || formGroup.disabled" (click)="onSubmit()">
                <span *ngIf="!formGroup.disabled">{{ t('form.actions.save') }}</span>
                <mat-progress-spinner *ngIf="formGroup.disabled" [diameter]="24" mode="indeterminate"></mat-progress-spinner>
            </button>
        </div>
    </form>
</div>
