<form  [formGroup]="form" *transloco="let t">
    <div class="flex items-center justify-between pt-2" mat-dialog-title>

        <h2 class="headline m-0 flex-auto">{{ t('demand.form.title') }}</h2>

        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon aria-label="Close dialog">close</mat-icon>
        </button>
    </div>
  
    <mat-divider class="text-border"></mat-divider>

        <mat-dialog-content>

            <div class="flex flex-col gap-6 md:min-w-80">
                    
                <mat-form-field  appearance="outline" class="vex-flex-form-field flex-auto">
                    <mat-label> 
                        {{ t('demand.form.type') }}
                    </mat-label>
                    <mat-select  placeholder="Type">
                        <mat-option *ngFor="let type of types" [value]="type.value">
                            {{ t(type.label) }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field  menu appearance="outline" class="vex-flex-form-field flex-auto">
                    <mat-label>
                        {{ t('demand.form.message') }}
                    </mat-label>
                    <textarea formControlName="message" matInput></textarea>
                </mat-form-field>

                
            </div>
        </mat-dialog-content>
    <mat-dialog-actions align="end" *ngIf="!loading">
        <button mat-button mat-dialog-close type="button">Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">{{ t('demand.form.submit') }}</button>
    </mat-dialog-actions>

    <mat-dialog-actions align="center" *ngIf="loading">
        <mat-spinner diameter="30"></mat-spinner>
    </mat-dialog-actions>


</form>