<div class="w-full" *transloco="let t;" tabindex="0">

    <!-- Table -->
    <div class="overflow-auto">
        <table [dataSource]="dataSource" class="w-full rounded-md bg-card overflow-hidden mb-4" mat-table matSort>

            <!-- Text Columns -->
            @let columns = tableOptions.columns;
            <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                    <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header>{{ t(column.label) }}</th>
                    <td *matCellDef="let row" class="min-w-32 py-2" [ngClass]="column.cssClasses" mat-cell>
                        {{ tableOptions.renderItem(row, column.property) }}
                    </td>
                </ng-container>
            </ng-container>

            
            <!-- Action Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase text-center border-l">
                    Actions
                </th>
                <td mat-cell *matCellDef="let element" class="border-l">
                    <div class="w-full h-full flex items-center justify-around">
                        
                    </div>
                </td>
            </ng-container>

                    
            <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: visibleColumns;"
                @fadeInBottom
                class="trans-ease-out cursor-pointer"
                mat-row>
            </tr>

            @let count = visibleColumns.length;
            <!-- No Data Row -->
            <tr *matNoDataRow>
                <td [attr.colspan]="count" class="text-center py-4">
                    {{ t('entities.coverage.table.empty_state') }}
                </td>
            </tr>
        </table>
    </div>

    @let pageSizeOptions = tableOptions.pageSizeOptions;
    @let pageSize = tableOptions.pageSize;
    <mat-paginator class="rounded-b-md border-t" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
</div>

