<div class="space-y-2 p-2 " #dialogRef *transloco="let t">

  <div class="flex flex-col gap-4 ">
    <h2 mat-dialog-title>{{ t(data.title) }}</h2>

    <mat-dialog-content class="flex flex-col gap-4">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix [svgIcon]="'fluent:search'" class="mr-2"></mat-icon>
        <mat-label>Recherche</mat-label>
        <input matInput [placeholder]="t('form.fields.search')" [(ngModel)]="search" (input)="filter()" >
<!--        <input mat-input [(ngModel)]="search" (input)="filter()" />-->
      </mat-form-field>

<!--      <mat-form-field class="w-full" appearance="outline">-->
<!--      </mat-form-field>-->

      <mat-nav-list>
        <mat-list-item *ngFor="let item of filteredItems" (click)="select(item)" class="cursor-pointer">
          {{ item[data.displayField] }}
        </mat-list-item>
      </mat-nav-list>

      @if (filteredItems.length === 0) {
        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">{{t('table.no-data')}}</div>
      }
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button (click)="cancel()">Annuler</button>
    </mat-dialog-actions>
  </div>

</div>
