<div class="space-y-2 p-2 min-w-[480px]" #dialogRef *transloco="let t;">
  <div>
    <h2 mat-dialog-title>
      @if (mode === 'create') {
        {{ t('entities.pricing-type.form.create.title') }}
      } @else if (mode === 'edit') {
        {{ t('entities.pricing-type.form.edit.title') }}
      } @else {
        {{ t('entities.pricing-type.form.view.title') }}
      }
    </h2>
  </div>
  <mat-divider></mat-divider>
  <mat-dialog-content class="py-4">
    <form [formGroup]="formGroup" class="space-y-4">
      <div class="flex flex-col gap-6">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>{{ t('entities.pricing-type.fields.name') }}</mat-label>
          <input matInput [readonly]="true" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>{{ t('entities.pricing-type.fields.description') }}</mat-label>
          <textarea matInput [readonly]="true" formControlName="description" required rows="3"></textarea>
        </mat-form-field>
      </div>
      <div class="flex flex-col gap-6">
        <div class="flex flex-row gap-6">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>{{ t('entities.pricing-type.fields.branch') }}</mat-label>
            <input matInput [readonly]="true" formControlName="branch" required>
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>{{ t('entities.pricing-type.fields.product') }}</mat-label>
            <input matInput [readonly]="true" formControlName="product" required>
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-6">
          <h3 class="text-lg font-semibold text-gray-700">
            {{ t('entities.pricing-type.fields.form.coverages-title') }}
          </h3>
          <div *ngFor="let coverage of this.data.coverages"
               class="border rounded-2xl p-4 space-y-4 shadow-sm bg-gray-50">
            <h3 class="text-lg font-semibold text-gray-700">
              {{ t('entities.pricing-type.fields.form.coverage-title') }}
            </h3>
            <div class="border rounded-2xl p-4 space-y-4 shadow-sm bg-gray-50">
              <div class="flex flex-col gap-6">
                <h3 class="text-lg font-semibold text-gray-700">
                  {{ t('entities.pricing-type.fields.form.formulas-title') }}
                </h3>
                <mat-accordion *ngIf="coverage.formulas.length > 0; else noFormulas">
                  <mat-expansion-panel *ngFor="let formula of coverage.formulas" class="">
                    <mat-expansion-panel-header class="">
                      <mat-panel-title class="">
                        {{ formula.label }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="p-4 bg-white">
                      <div class="">
                        <span class="">{{ t('entities.pricing-type.fields.form.formulas-expression') }} : </span>
                        <div class="">
                          <code class="">{{ formula.expression }}</code>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
                <ng-template #noFormulas>
                  <div>
                    <mat-icon>info_outline</mat-icon>
                    <p>Aucune formule définie pour cette coverage</p>
                  </div>
                </ng-template>
              </div>
            </div>

            <div class="border rounded-2xl p-4 space-y-4 shadow-sm bg-gray-50">
              <h3 class="text-lg font-semibold text-gray-700">
                {{ t('entities.pricing-type.fields.form.variables-title') }}
              </h3>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div *ngFor="let variable of coverage.variables"
                     class="border rounded-2xl p-4 space-y-4 shadow-sm bg-gray-50">
                  <h4 class="text-lg font-semibold text-gray-700">
                    {{ t('entities.pricing-type.fields.form.variable-title') }}
                  </h4>
                  <div class="flex flex-col gap-6">
                    <mat-form-field class="w-full" appearance="outline">
                      <mat-label>{{ t('entities.pricing-type.fields.variable.label') }}</mat-label>
                      <input matInput [readonly]="true" value="{{variable.label}}" required>
                    </mat-form-field>
                    <mat-form-field class="w-full" appearance="outline">
                      <mat-label>{{ t('entities.pricing-type.fields.variable.type') }}</mat-label>
                      <input matInput [readonly]="true" value="{{variable.type}}" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="flex justify-end space-x-2 pt-4">
    <button mat-button mat-flat-button color="basic" (click)="onCancel()">
      {{ t('form.actions.cancel') }}
    </button>
  </mat-dialog-actions>
</div>
