<div class="space-y-2 p-2 min-w-[480px]" #dialogRef *transloco="let t;">
    <h2 mat-dialog-title>{{ t('entities.taxes-prime.form.add.form-title') || 'Modifier la couverture' }}</h2>
    <mat-divider></mat-divider>

    <mat-dialog-content class="py-4">
        <form [formGroup]="formGroup" class="space-y-4">

            <div class="flex flex-col gap-6">

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.taxes-prime.form.add.name') }}</mat-label>
                    <input matInput formControlName="name" required />
                    <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                    <mat-error *ngIf="formGroup.get('name')?.hasError('minlength')">
                        {{ t('form.errors.minLength', { value: 3 }) }}
                    </mat-error>

                </mat-form-field>

                                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.taxes-prime.form.add.tax-type') }}</mat-label>
                    <mat-select formControlName="taxType" required>
                        <mat-option *ngFor="let tax of taxesType" [value]="tax.id">
                            {{ tax.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('taxType')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.taxes-prime.form.add.coverage') }}</mat-label>
                    <mat-select formControlName="coverage" required>
                        <mat-option *ngFor="let coverage of coverages" [value]="coverage.id">
                            {{ coverage.nature }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('coverage')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.taxes-prime.form.add.product') }}</mat-label>
                    <mat-select formControlName="product" required>
                        <mat-option *ngFor="let product of products" [value]="product.id">
                            {{ product.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('product')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.taxes-prime.form.add.date-effective') }}</mat-label>
                    <input matInput formControlName="dateEffective" type="date" required />
                    <mat-error *ngIf="formGroup.get('dateEffective')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>    
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.taxes-prime.form.add.calculation-base') }}</mat-label>
                    <input matInput formControlName="calculationBase" required />
                    <mat-error *ngIf="formGroup.get('calculationBase')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                    <mat-error *ngIf="formGroup.get('calculationBase')?.hasError('minlength')">
                        {{ t('form.errors.minLength', { value: 3 }) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.taxes-prime.form.add.is-flat-rate') }}</mat-label>
                    <mat-select formControlName="isFlatRate" required>
                        <mat-option [value]="true">{{ t('form.fields.yes') }}</mat-option>
                        <mat-option [value]="false">{{ t('form.fields.no') }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('isFlatRate')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.taxes-prime.form.add.flat-rate-amount') }}</mat-label>
                    <input matInput formControlName="flatRateAmount" type="number" />
                    <mat-error *ngIf="formGroup.get('flatRateAmount')?.hasError('min')">
                        {{ t('form.errors.min', { value: 0 }) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.taxes-prime.form.add.rate') }}</mat-label>
                    <input matInput formControlName="rate" type="number" />
                    <mat-error *ngIf="formGroup.get('rate')?.hasError('min')">
                        {{ t('form.errors.min', { value: 0 }) }}
                    </mat-error>
                </mat-form-field>


            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="flex justify-end space-x-2 pt-4">
        <button mat-button mat-flat-button color="basic" (click)="onCancel()">
            {{ t('form.actions.cancel') }}
        </button>
        <button mat-button mat-flat-button color="primary" [disabled]="formGroup.invalid || formGroup.disabled"
            (click)="onSubmit()">
            {{ t('form.actions.save') }}
        </button>
    </mat-dialog-actions>
</div>