<div class="w-full"  *transloco="let t">

    <div class="flex flex-col mb-10">
        <h1 class="text-2xl md:text-4xl font-bold py-4">
            {{ t('attestation.new.title') }}
        </h1>
        <!-- Description -->
        <p class="text-sm md:text-base text-gray-600">
            {{ t('attestation.new.description') }}
        </p>
    </div>

    <form [formGroup]="formGroup" 
        class="w-full sm:max-w-4xl bg-card p-4 rounded-xl mx-auto"
    >
        <div class="flex flex-col mb-6 text-center text-primary">
            <h1 class="text-2xl font-bold">
                {{ t('attestation.new.form-title') }}
            </h1>
            <p class="text-sm text-gray-600">
                {{ t('attestation.new.form-description') }}
            </p>
        </div>

    
        <div class="space-y-6 mt-4">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('attestation.new.form-prefix') }}
                </mat-label>
                <input
                    id="prefix"
                    matInput
                    [formControlName]="'prefix'">
                <mat-error *ngIf="formGroup.get('prefix')?.hasError('required')">
                    {{ t('attestation.new.form-prefix-required') }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('attestation.new.form-quantity') }}
                </mat-label>
                <input
                    id="quantity"
                    matInput
                    type="number"
                    [formControlName]="'quantity'">
                <mat-error *ngIf="formGroup.get('quantity')?.hasError('required')">
                    {{ t('attestation.new.form-quantity-required') }}
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('attestation.new.form-secret') }}
                </mat-label>
                <input
                    id="secret"
                    matInput
                    [formControlName]="'secret'">
                <mat-error *ngIf="formGroup.get('secret')?.hasError('required')">
                    {{ t('attestation.new.form-secret-required') }}
                </mat-error>
            </mat-form-field> -->
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('attestation.new.form-start-date') }}
                </mat-label>
                <input
                    id="startDate"
                    matInput
                    type="date"
                    [formControlName]="'startDate'">
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('attestation.new.form-end-date') }}
                </mat-label>
                <input
                    id="endDate"
                    matInput
                    type="date"
                    [formControlName]="'endDate'">
            </mat-form-field>
        </div>
    
        <div class="flex items-center gap-4 justify-end">
            <div>
                {{t(message)}}
            </div>
            <button
                class="mat-button-large mt-6"
                mat-button
                mat-flat-button
                [color]="'primary'"
                [disabled]="formGroup.invalid || formGroup.disabled"
                (click)="onSubmit()">
                <span *ngIf="!formGroup.disabled">
                    {{ t('attestation.new.form-submit') }}
                </span>
                <mat-progress-spinner
                    *ngIf="formGroup.disabled"
                    [diameter]="24"

                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
        </div>
    </form>
</div>