<div class="space-y-2 p-4 min-w-[400px]" #dialogRef *transloco="let t;">
    <h2 mat-dialog-title>
        {{ data.isErrorOnly ? 'Erreur' : t('form.actions.deleteTitle') }}
    </h2>

    <mat-dialog-content class="py-4">
    <p class="text-base text-gray-700 font-semibold">
        {{ t(data.message) || 'Une erreur est survenue.' }}
    </p>
    </mat-dialog-content>

    <mat-dialog-actions *ngIf="!data.isErrorOnly" class="flex justify-end space-x-2">
    <button mat-button mat-flat-button color="basic" (click)="onCancel()">
        {{ t('form.actions.cancel') }}
    </button>
    <button mat-button mat-flat-button color="warn" (click)="onConfirm()">
        {{ t('form.actions.confirm') || 'Supprimer' }}
    </button>
    </mat-dialog-actions>

    <mat-dialog-actions *ngIf="data.isErrorOnly" class="flex justify-end">
    <button mat-button mat-flat-button color="primary" (click)="onCancel()">
        OK
    </button>
    </mat-dialog-actions>

</div>
