<div class="w-full p-4 flex flex-col gap-4" *transloco="let t;" tabindex="0">
    <div class="flex justify-between items-end">
        <div class="flex flex-col">
            <h1 class="text-2xl md:text-4xl font-bold py-4">
                {{ t('entities.lot_attestations.table.title') }}
            </h1>
            <!-- Description -->
            <p class="text-sm md:text-base text-gray-600">
                {{ t('entities.lot_attestations.table.description') }}
            </p>
        </div>

        <div class="flex items-center gap-2 bg-card p-2 px-4 rounded-lg border border-accent-300">
            <span>{{selectedProduct.name || t('product-selection.title')}}</span>
            <button mat-button class="ml-4 bg-primary-500 text-white rounded-lg" (click)="openSelection()">
                {{t('product-selection.change')}}
            </button>
        </div>
    </div>

    <!-- Search -->
    <div class="flex flex-col md:flex-row items-center gap-4 justify-between">
        <div class="flex items-center gap-2 bg-card p-2 px-4 rounded-lg border border-accent-300 h-full">
            <mat-icon [svgIcon]="'fluent:search'"></mat-icon>
            <input class="form-input" type="text" [placeholder]="t('form.fields.search')"
                [formControl]="searchCtrl">
        </div>

        <div class="flex items-center gap-2">
            <!-- <button mat-button class="bg-primary-500 text-white rounded-lg" (click)="openCreate()">
                {{ t('entities.lot_attestations.table.create') }}
            </button> -->
        </div>
    </div>

    <div class="overflow-auto">
        <!-- Table -->
        <table [dataSource]="dataSource" class="w-full rounded-md bg-card" mat-table matSort>
        
            <!-- Text Columns -->
            @let columns = tableOptions.columns;
            <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                    <th *matHeaderCellDef class="uppercase min-w-32" mat-header-cell mat-sort-header>{{ t(column.label) }}</th>
                    <td *matCellDef="let row"  [ngClass]="column.cssClasses" mat-cell>
                        {{ tableOptions.renderItem(row, column.property) }}
                    </td>
                </ng-container>
            </ng-container>

            
            <!-- Action Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="uppercase text-center border-l">
                    Actions
                </th>
                <td mat-cell *matCellDef="let element" class="border-l">
                    <div class="w-full h-full flex items-center justify-around">
                    </div>
                </td>
            </ng-container>

                    
            <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: visibleColumns;"
                @fadeInBottom
                class="trans-ease-out cursor-pointer"
                mat-row>
            </tr>

            @let count = visibleColumns.length;
            <!-- No Data Row -->
            <tr *matNoDataRow>
                <td [attr.colspan]="count" class="text-center py-4">
                    {{ t('entities.lot_attestations.table.empty_state') }}
                </td>
            </tr>
        </table>
    </div>

    @let pageSizeOptions = tableOptions.pageSizeOptions;
    @let pageSize = tableOptions.pageSize;
    <mat-paginator class="rounded-b-md border-t" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"></mat-paginator>
</div>

