<div class="space-y-2 p-2 min-w-[480px]" #dialogRef *transloco="let t;">
    <h2 mat-dialog-title>{{ t('entities.taxes-type.form.add.form-title') }}</h2>
    <mat-divider></mat-divider>

    <mat-dialog-content class="py-4">
        <form [formGroup]="formGroup" class="space-y-4">

            <div class="flex flex-col gap-6">
            
                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.taxes-type.form.add.name') }}</mat-label>
                    <input matInput formControlName="name" required />
                    <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                    <mat-error *ngIf="formGroup.get('name')?.hasError('minlength')">
                        {{ t('form.errors.minLength', { value: 3 }) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="outline">
                    <mat-label>{{ t('entities.taxes-type.form.add.nature') }}</mat-label>
                    <mat-select formControlName="nature" required>
                        <mat-option *ngFor="let type of typeNature" [value]="type.value">
                            {{ type.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('type')?.hasError('required')">
                        {{ t('form.errors.required') }}
                    </mat-error>
                </mat-form-field>

            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="flex justify-end space-x-2 pt-4">
        <button mat-button mat-flat-button color="basic" (click)="onCancel()">
            {{ t('form.actions.cancel') }}
        </button>
        <button mat-button mat-flat-button color="primary" [disabled]="formGroup.invalid || formGroup.disabled"
            (click)="onSubmit()">
            {{ t('form.actions.save') }}
        </button>
    </mat-dialog-actions>
</div>