<div class="w-full pb-10" *transloco="let t">
  <!-- Header -->
  <div class="flex flex-col mb-10">
    <h1 class="text-2xl md:text-4xl font-bold py-4">
      {{ t('entities.base_tax.table.title') }}
    </h1>
    <p class="text-sm md:text-base text-gray-600">
      {{ t('entities.base_tax.form.subtitle') }}
    </p>
  </div>

  <!-- Form -->
  <form [formGroup]="formGroup" class="w-full sm:max-w-3xl bg-card p-4 rounded-xl mx-auto">
    <div class="flex flex-col mb-6 text-center text-primary">
      <h1 class="text-2xl font-bold">
        {{ t('entities.base_tax.form.title') }}
      </h1>
      <p class="text-sm text-gray-600">
        {{ t('entities.base_tax.form.subtitle') }}
      </p>
    </div>

    <div class="flex flex-col gap-6">
      <!-- Date Effective -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.base_tax.fields.dateEffective') }}</mat-label>
        <input matInput type="date" formControlName="dateEffective" />
        <mat-error *ngIf="formGroup.get('dateEffective')?.hasError('required')">
          {{ t('form.errors.required') }}
        </mat-error>
      </mat-form-field>

      <!-- Calculation Base -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.base_tax.fields.calculationBase') }}</mat-label>
        <mat-select formControlName="calculationBase">
          <mat-option *ngFor="let option of calculationBaseOptions" [value]="option.value">{{ option.label }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('calculationBase')?.hasError('required')">
          {{ t('form.errors.required') }}
        </mat-error>
      </mat-form-field>

      <!-- Is Flat -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.base_tax.fields.isFlat') }}</mat-label>
        <mat-select formControlName="isFlat">
          <mat-option [value]="true">{{ t('form.options.yes') }}</mat-option>
          <mat-option [value]="false">{{ t('form.options.no') }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('isFlat')?.hasError('required')">
          {{ t('form.errors.required') }}
        </mat-error>
      </mat-form-field>

      <!-- Rate -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.base_tax.fields.rate') }}</mat-label>
        <input matInput type="number" formControlName="rate" />
      </mat-form-field>

      <!-- Fixed Amount -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.base_tax.fields.fixedAmount') }}</mat-label>
        <input matInput type="number" formControlName="fixedAmount" />
      </mat-form-field>

      <!-- Tax -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.base_tax.fields.tax') }}</mat-label>
        <mat-select formControlName="taxId">
          <mat-option *ngFor="let tax of taxes" [value]="tax.id">{{ tax.designation }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('taxId')?.hasError('required')">
          {{ t('form.errors.required') }}
        </mat-error>
      </mat-form-field>

      <!-- Coverage -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.base_tax.fields.coverage') }}</mat-label>
        <mat-select formControlName="coverageId">
          <mat-option *ngFor="let cov of coverages" [value]="cov.id">{{ cov.designation }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Product -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>{{ t('entities.base_tax.fields.product') }}</mat-label>
        <mat-select formControlName="productId">
          <mat-option *ngFor="let product of products" [value]="product.id">{{ product.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('productId')?.hasError('required')">
          {{ t('form.errors.required') }}
        </mat-error>
      </mat-form-field>

      <!-- Submit -->
      <div class="flex items-center justify-end gap-4 mt-6">
        <!-- <div>{{ t(message) }}</div> -->
        <button
          mat-flat-button
          color="primary"
          [disabled]="formGroup.invalid || formGroup.disabled"
          (click)="onSubmit()"
        >
          <span *ngIf="!formGroup.disabled">
            {{ t('form.actions.save') }}
          </span>
          <mat-progress-spinner
            *ngIf="formGroup.disabled"
            [diameter]="24"
            mode="indeterminate"
          ></mat-progress-spinner>
        </button>
      </div>
    </div>
  </form>
</div>
