<div class="w-full pb-10" *transloco="let t">

	<!-- Form -->

	<form [formGroup]="formGroup" class="w-full max-w-[500px] bg-card p-4 rounded-xl mx-auto">
		<div class="flex flex-col mb-6 text-center text-primary">
			<h1 class="text-2xl font-bold">{{ t('entities.incompatible_coverage.form.title') }}</h1>
			<p class="text-sm text-gray-600">{{ t('entities.incompatible_coverage.form.subtitle') }}</p>
		</div>


		<div class="flex flex-col gap-6">
			<mat-form-field appearance="outline" class="w-full">
				<mat-label>{{ t('entities.coverage.fields.product') }}</mat-label>
				<mat-select formControlName="productId">
					<mat-option *ngFor="let product of products" [value]="product.id">
						{{ product.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="outline" class="w-full">
				<mat-label>{{ t('entities.incompatible_coverage.fields.coverage') }}</mat-label>
				<mat-select formControlName="coverageId">
					<mat-option *ngFor="let coverage of coverages" [value]="coverage.id">
						{{ coverage.reference.designation }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="outline" class="w-full">
				<mat-label>{{ t('entities.incompatible_coverage.fields.incompatible') }}</mat-label>
				<mat-select formControlName="incompatibleId">
					<mat-option *ngFor="let incompatible of incompatibles" [value]="incompatible.id">
						{{ incompatible.reference.designation }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<!-- Submit -->
			<div class="flex justify-end mt-6">
				<button mat-flat-button color="primary" [disabled]="formGroup.invalid || formGroup.disabled"
					(click)="onSubmit()">
					<span *ngIf="!formGroup.disabled">{{ t('form.actions.save') }}</span>
					<mat-progress-spinner *ngIf="formGroup.disabled" [diameter]="24"
						mode="indeterminate"></mat-progress-spinner>
				</button>
			</div>
		</div>
	</form>
</div>