<div class="flex flex-col gap-6 py-4" [formGroup]="form" *transloco="let t from 'entities.policy'">

  <div formArrayName="coverages" class="flex flex-col gap-3">
    <div *ngFor="let cov of coverages.controls; let i = index" [formGroupName]="i" class="flex items-center gap-4">
      <mat-form-field appearance="outline" class="flex-1">
        <input matInput formControlName="name" readonly />
      </mat-form-field>
      <button mat-icon-button color="warn" (click)="removeCoverage(i)" aria-label="Supprimer">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="flex justify-between pt-4">
    <button mat-stroked-button color="primary" (click)="addCoverage()">
      <mat-icon>add</mat-icon> {{ t('actions.addCoverage') }}
    </button>

    <button mat-raised-button color="primary" (click)="goNext()">
      {{ t('actions.next') }}
    </button>
  </div>
</div>
