<!-- Sign in form -->
<form
    class="mt-8 space-y-6"
    #form
    [formGroup]="formGroup"
    *transloco="let t">
    
    <div class="flex flex-col gap-6">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>
                {{ t('entities.user.form.fields.first_name.label') }}
            </mat-label>
            <input
                id="first-name"
                matInput
                [formControlName]="'firstName'">
            <mat-error *ngIf="formGroup.get('firstName')?.hasError('required')">
                {{ t('form.errors.required') }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>
                {{ t('entities.user.form.fields.last_name.label') }}
            </mat-label>
            <input
                id="last-name"
                matInput
                [formControlName]="'lastName'">
            <mat-error *ngIf="formGroup.get('lastName')?.hasError('required')">
                {{ t('form.errors.required') }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>
                {{ t('entities.user.form.fields.email.label') }}
            </mat-label>
            <input
                id="email"
                matInput
                [formControlName]="'email'">
            <mat-error *ngIf="formGroup.get('email')?.hasError('required')">
                {{ t('form.errors.required') }}
            </mat-error>
            <mat-error *ngIf="formGroup.get('email')?.hasError('email')">
                {{ t('form.errors.email_invalid') }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>
                {{ t('entities.user.form.fields.phone.label') }}
            </mat-label>
            <input
                id="phone"
                matInput
                [formControlName]="'phone'">
        </mat-form-field>
    </div>

    
    <!-- Submit button -->
    <button mat-button matStepperNext
        class="mat-button-large  mt-6"
        mat-flat-button
        [color]="'primary'"
        [disabled]="formGroup.invalid"
        (click)="onNext()"
        >
        {{ t('form.actions.next') }}
    </button>
</form>