<div class="flex flex-col gap-8 py-4" [formGroup]="form" *transloco="let t">

  <!-- 🧍 Identité -->
  <div class="grid grid-cols-1 md:grid-cols-2  gap-4">
    <mat-form-field appearance="outline">
      <mat-label>{{ t('entities.policy.fields.title') }}</mat-label>
      <mat-select formControlName="title">
        <mat-option value="M.">M.</mat-option>
        <mat-option value="Mme">Mme</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ t('entities.policy.fields.lastName') }}</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ t('entities.policy.fields.firstName') }}</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ t('entities.policy.fields.birthDate') }}</mat-label>
      <input matInput type="date" formControlName="birthDate" />
    </mat-form-field>
  </div>

  <!-- 🪪 Pièce d'identité -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <mat-form-field appearance="outline">
      <mat-label>{{ t('entities.policy.fields.idType') }}</mat-label>
      <input matInput formControlName="idType" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ t('entities.policy.fields.idNumber') }}</mat-label>
      <input matInput formControlName="idNumber" />
    </mat-form-field>
  </div>

  <!-- 📫 Coordonnées -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <mat-form-field appearance="outline">
      <mat-label>{{ t('entities.policy.fields.address') }}</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ t('entities.policy.fields.city') }}</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ t('entities.policy.fields.email') }}</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ t('entities.policy.fields.phone') }}</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ t('entities.policy.fields.mobile') }}</mat-label>
      <input matInput formControlName="mobile" />
    </mat-form-field>
  </div>

  <!-- 👔 Profil professionnel -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

    <mat-form-field appearance="outline">
      <mat-label>{{ t('entities.policy.fields.socioProfessionalGroup') }}</mat-label>
      <input matInput formControlName="socioProfessionalGroup" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ t('entities.policy.fields.profession') }}</mat-label>
      <input matInput formControlName="profession" />
    </mat-form-field>

    <mat-form-field appearance="outline" >
      <mat-label>{{ t('entities.policy.fields.activity') }}</mat-label>
      <input matInput formControlName="activity" />
    </mat-form-field>
  </div>

  <!-- Action -->
  <div class="flex justify-end pt-6">
    <button mat-raised-button color="primary" (click)="goNext()">
      {{ t('form.actions.next') }}
    </button>
  </div>
</div>
