<form [formGroup]="form">
    <!-- Select multiple pour les coverages -->
    <label for="coverages">Sélectionnez les garanties :</label>
    <mat-form-field appearance="outline">
        <mat-label>Garanties</mat-label>
        <mat-select formControlName="coverages" multiple
            (selectionChange)="selectedCoverages = form.get('coverages')?.value || []">
            <mat-option *ngFor="let coverage of coverages" [value]="coverage">
                {{ coverage.reference.designation }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Tableau des garanties sélectionnées -->
    <div *ngIf="selectedCoverages.length > 0">
        <h3>Garanties sélectionnées :</h3>
        <table mat-table [dataSource]="selectedCoverages" class="">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let coverage"> {{ coverage.reference.designation }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['name']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['name'];"></tr>
        </table>
    </div>
</form>