<form
    class="mt-8 space-y-6"
    #form
    [formGroup]="formGroup"
    *transloco="let t">
    
    <div class="flex flex-col gap-6">
        <div class="flex gap-6 flex-wrap">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('vehicle.new.form-registration-number') }}
                </mat-label>
                <input
                    id="registrationNumber"
                    matInput
                    [formControlName]="'registrationNumber'">
                <mat-error *ngIf="formGroup.get('registrationNumber')?.hasError('required')">
                    {{ t('vehicle.new.form-required') }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('vehicle.new.form-chassis-number') }}
                </mat-label>
                <input
                    id="chassisNumber"
                    matInput
                    [formControlName]="'chassisNumber'">
                <mat-error *ngIf="formGroup.get('chassisNumber')?.hasError('required')">
                    {{ t('vehicle.new.form-last-name-required') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('vehicle.new.form-engine-number') }}
                </mat-label>
                <input
                    id="engineNumber"
                    matInput
                    [formControlName]="'engineNumber'">
                <mat-error *ngIf="formGroup.get('engineNumber')?.hasError('required')">
                    {{ t('vehicle.new.form-last-name-required') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex gap-6 flex-wrap">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('vehicle.new.form-model') }}
                </mat-label>
                <input
                    id="model"
                    matInput
                    [matAutocomplete]="model"
                    [formControlName]="'model'">
                <mat-autocomplete #model="matAutocomplete">
                    @for (option of models | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('vehicle.new.form-year') }}
                </mat-label>
                <input
                    #inputYear
                    id="year"
                    matInput
                    [matAutocomplete]="year"
                    [formControlName]="'year'">
                <mat-autocomplete #year="matAutocomplete">
                    @for (option of years | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="flex gap-6 flex-wrap">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('vehicle.new.form-usage') }}
                </mat-label>
                <input
                    id="usage"
                    matInput
                    [matAutocomplete]="usage"
                    [formControlName]="'usage'">
                <mat-autocomplete #usage="matAutocomplete">
                    @for (option of usages | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('vehicle.new.form-fuel') }}
                </mat-label>
                <input
                    id="fuel"
                    matInput
                    [matAutocomplete]="fuel"
                    [formControlName]="'fuel'">
                <mat-autocomplete #fuel="matAutocomplete">
                    @for (option of fuels | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
                <mat-error *ngIf="formGroup.get('fuel')?.hasError('required')">
                    {{ t('vehicle.new.form-fuel-required') }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex gap-6 flex-wrap">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('vehicle.new.form-power') }}
                </mat-label>
                <input
                    id="power"
                    matInput
                    [matAutocomplete]="power"
                    [formControlName]="'power'">
                <mat-autocomplete #power="matAutocomplete">
                    @for (option of powers | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
                <mat-error *ngIf="formGroup.get('power')?.hasError('required')">
                    {{ t('vehicle.new.form-power-required') }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('vehicle.new.form-places') }}
                </mat-label>
                <input
                    id="places"
                    matInput
                    [formControlName]="'places'">
                <mat-error *ngIf="formGroup.get('places')?.hasError('required')">
                    {{ t('vehicle.new.form-places-required') }}
                </mat-error>
            </mat-form-field>
        </div>

        
        <mat-form-field class="hidden w-full" appearance="outline">
            <mat-label>
                {{ t('vehicle.new.form-color') }}
            </mat-label>
            <input
                id="color"
                matInput
                [formControlName]="'color'">
        </mat-form-field>
        <mat-form-field class="hidden w-full" appearance="outline">
            <mat-label>
                {{ t('vehicle.new.form-type') }}
            </mat-label>
            <input
                id="type"
                matInput
                [formControlName]="'type'">
        </mat-form-field>
        <mat-form-field class="hidden w-full" appearance="outline">
            <mat-label>
                {{ t('vehicle.new.form-brand') }}
            </mat-label>
            <input
                id="brand"
                matInput
                [formControlName]="'brand'">
        </mat-form-field>
        <mat-form-field class="hidden w-full" appearance="outline">
            <mat-label>
                {{ t('vehicle.new.form-category') }}
            </mat-label>
            <input
                id="category"
                matInput
                [formControlName]="'category'">
        </mat-form-field>
        <mat-form-field class="hidden w-full" appearance="outline">
            <mat-label>
                {{ t('vehicle.new.form-weight') }}
            </mat-label>
            <input
                id="weight"
                matInput
                [formControlName]="'weight'">
        </mat-form-field>
        <mat-form-field class="hidden w-full" appearance="outline">
            <mat-label>
                {{ t('vehicle.new.form-country') }}
            </mat-label>
            <input
                id="country"
                matInput
                [formControlName]="'country'">
        </mat-form-field>
    </div>

    
    <!-- Submit button -->
    <button mat-button matStepperNext
        class="mat-button-large  mt-6"
        mat-flat-button
        [color]="'primary'"
        [disabled]="formGroup.invalid"
        (click)="onNext()"
        >
            Suivant
    </button>
</form>